<div class="rastro-migas">
  <button mat-raised-button class="secondary-btn" routerLink="/">
    <mat-icon style="width: 32px; height: 32px; font-size: 32px; color: black"
      >keyboard_arrow_left</mat-icon
    >
    Volver a Inicio
  </button>
</div>

<div class="section-header">
  <mat-icon class="section-icon">category</mat-icon>
  <span class="section-title">Categorías</span>
</div>
<p class="subtitle">
  Explora nuestras recetas por categoría o tipo de plato, en función de lo que
  te apetezca
</p>

<section class="grid">
  <div
    *ngFor="let cat of categorias"
    class="categoria-card"
    (click)="verCategoria(cat.nombre)"
    [style.backgroundImage]="'url(' + cat.imagen + ')'"
  >
    <div class="overlay">
      <h2>{{ cat.nombre }}</h2>
    </div>
  </div>
</section>

<div class="section-header">
  <mat-icon class="section-icon">grid_on</mat-icon>
  <span class="section-title">Tipos de plato</span>
</div>
<!-- <p class="subtitle">Explora nuestras recetas por</p> -->

<section class="tipos-grid">
  <div
    *ngFor="let tipo of tiposDePlato"
    class="tipo-card"
    (click)="verTipo(tipo)"
  >
    <span class="tipo-nombre">{{ tiposDePlatoPlurales[tipo] }}</span>
  </div>
</section>
