/* Back To Top button */
.back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 999;
  width: 54px !important;
  height: 54px !important;
  background-color: var(--primary-color) !important;
  color: white !important;
  border-radius: 50% !important;
  border: 2px solid var(--primary-color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.back-to-top:hover {
  transform: translateY(-4px);
}

.back-to-top mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  fill: var(--white-color);
}
