<footer>
  <div class="footer-contenido">
    <!-- Título -->
    <div class="footer-titulo">
      <img src="favicon.png" class="footer-img" />
      <span class="app-text">
        <span class="inicial">P</span>latos <span class="inicial">P</span>ara
        <span class="inicial">S</span>iempre
      </span>
    </div>

    <!-- Columnas -->
    <div class="footer-columnas">
      <div class="columna">
        <h3>Explorar</h3>
        <a routerLink="/">Inicio</a>
        <a routerLink="/recetas">Recetas</a>
        <a routerLink="/categorias">Categorías</a>
        <a routerLink="/glosario">Glosario</a>
      </div>
      <div class="columna">
        <h3>Más</h3>
        <a routerLink="/varios">Varios</a>
        <a routerLink="/sobre-mi">Sobre mí</a>
      </div>
      <div class="columna">
        <h3>Admin</h3>
        <a routerLink="/admin-login">Acceso administración</a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright">
    <span
      >© {{ anio }} Platos Para Siempre. Todos los derechos reservados.</span
    >
  </div>
</footer>
