<footer>
  <div class="footer-contenido">
    <!-- Título -->
    <div class="footer-titulo">
      <img src="logo1.png" class="footer-img" />
      <span class="app-text">
        <span><span class="inicial">P</span>araíso</span>
        <span><span class="inicial">P</span>ara</span>
        <span><span class="inicial">S</span>aborear</span>
      </span>
    </div>

    <!-- Columnas -->
    <div class="footer-columnas">
      <div class="columna">
        <h3>Explorar</h3>
        <a routerLink="/">Inicio</a>
        <a routerLink="/recetas">Recetas</a>
        <a routerLink="/categorias">Categorías</a>
        <a [routerLink]="['/']" fragment="preparaciones">Preparaciones</a>
        <a [routerLink]="['/']" fragment="salsas">Salsas</a>
      </div>
      <div class="columna">
        <h3>Más</h3>
        <a routerLink="/varios">Varios</a>
        <a [routerLink]="['/']" fragment="trucos">Trucos</a>
        <a routerLink="/glosario">Glosario</a>
        <a routerLink="/sobre-mi">Sobre mí</a>
      </div>
      <div class="columna">
        <h3>Admin</h3>
        <a routerLink="/admin-login">Administración</a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright">
    <a href="https://www.flaticon.com/free-icons/feast" title="feast icons"
      >Feast icons created by Bamicon - Flaticon</a
    >
    <span
      >© {{ anio }} Paraíso Para Saborear. Todos los derechos reservados.</span
    >
  </div>
</footer>
